.clients {
  background: url('../img/bg/bg.clients.png');
  height: 400px;
  display: flex;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 60px;
}
.slider-wrapper {
  margin-top: 70px;
}
