.clients {
  background: url('../img/bg/bg.clients.png');
  display: flex;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 60px;
}
.slider-wrapper {
  margin-top: 70px;
}
@media (max-width: 768px) {
  .slider {

  }
}
