.contacts {
  background: url("../img/bg/bg.contacts.png");
  padding-bottom: 100px;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-inline {
  justify-content: center;
  margin-top: 60px;
}

.contacts-form {
  @include Open_Sans(#fff, 15px, 400);
  width: 460px;
  height: 50px;
  opacity: 0.2;

  @media (max-width: 768px){
    width: auto;
    margin-bottom: -20px;
  }

}

.contacts-btn {
  @include Open_Sans(#000, 14px, 900);
  margin-left: 20px;
  width: 139px;
  height: 50px;
  background-color: #ffeb3b;
  border-radius: 0;

}
