.header-wrapper {
  background: url("../img/bg/bg.v2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
  padding-top: 30px;
  padding-bottom: 20px;

}

.header-logo {
  display: flex;
  align-items: center;
  width: 200px;

  .header-logo__wrapper {
    display: flex;
    flex-direction: column;
  }
}

.bagrum-logo {
  @include Back_to_Black (#fff, 32px, 400);
  line-height: 31px;
}

.template {
  @include vidaloka (#e5432b, 12px, 400);
  text-align: right;
  margin-top: -7px;
}

.nav-item {
  @include vidaloka(#fff, 13px, 400);
  line-height: 1;
  text-transform: uppercase;
  margin-right: 40px;

  &:last-child {
    margin-left: 80px;
    margin-right: 0;
  }
}
.nav-link:hover {
  border-bottom: 1px solid yellow;

}

.header-text {
  text-align: center;

  .weAre {
    @include Back_to_Black (#fff, 110px, 400);
    margin-top: 50px;

    @media (max-width: 768px) {
      font-size: 50px;
      margin-bottom: 30px;
    }
  }

  .creative {
    @include Back_to_Black (#fff, 270px, 400);
    margin-top: -80px;
    padding-bottom: 63px;

    @media (max-width: 768px) {
      font-size: 190px;
    }
  }
}
