.services {
  margin-top: 65px;
  margin-bottom: 80px;
}

.services-title__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 65px;
}

.services-container,
.services-container__2 {
  flex-wrap: nowrap;
  margin: 0 30px 30px;

  #size {
    width: 330px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 768px) {
  flex-wrap: wrap;
  margin:30px 0 0 0;
  }
}

.services-menu_1 {
  background-color: #ff5252;
}

.services-menu_2 {
  background-color: #4caf50;
  margin-right: 30px;
  margin-left: 30px;

  @media (max-width: 768px) {
    margin: 30px 0 30px 0;
  }
}

.services-menu_3 {
  background-color: #673ab7;
}

.services-menu_4 {
  background-color: #2196f3;
}

.services-menu_5 {
  background-color: #ffeb3b;
  margin-right: 30px;
  margin-left: 30px;

    @media (max-width: 768px) {
      margin: 30px 0 30px 0;
    }
}

.services-menu_6 {
  background-color: #00bcd4;
}

.services-item__title {
  @include vidaloka(#fff, 20px, 400);
  letter-spacing: 0.8px;
  margin-bottom: 25px;
}

.services-item__text {
  @include Open_Sans(#fff, 14px, 400);
  letter-spacing: 0.52px;
  margin-bottom: 35px;
}

.services-item_link {
  @include Open_Sans(#ffeb3b, 14px, 400);
  text-decoration: underline;

  &:hover {
    color: rgb(14, 10, 148);
  }
}
