.team {
  margin-bottom: 60px;
  margin-top: 80px;

  a {
    width: 44px;
    height: 44px;
    margin: 10px;
    border: 1px solid #f1f1f1;
    border-radius: 50%;

    :hover {
      width: 44px;
      height: 44px;
      background-color: yellow;
      border-radius: 50%;
      line-height: 44px;
    }

    .fab {
      font-size: 20px;
      color: #dadada;
    }
  }
}

.team-title {
  @include vidaloka (#333, 51px, 400);
  line-height: 60px;
  margin-bottom: 50px;
}

.team-text {
  @include Open_Sans (#969595, 16px, 400);
  line-height: 30px;
  margin-bottom: 50px;
}

.card-social,
.card-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.card-social::after {
  content: "";
  width: 311px;
  height: 1px;
  background-color: #f1f1f1;
  position: absolute;
  bottom: 90px;
}
